<div ba-panel ba-panel-title="角色列表" ba-panel-class="xmedium-panel with-scroll light-text">
    <div class="row add-row-editable-table">
        <div class="col-md-4">
            <button has-perms='sys.role.add' class="btn btn-success btn-with-icon" ui-sref="sys.role.add">
                <i class="ion-plus-round"></i>新增
            </button>
        </div>
        <div class="col-md-2 col-md-offset-6 ">
            <div class="form-group">
                <input type="text" class="form-control form-control-rounded" ng-model="kt.tableState.search.roleName"
                       input-keyup="kt.LoadPage" placeholder="名称">
            </div>
        </div>
    </div>
    <table class="table table-bordered table-hover table-condensed" st-pipe="kt.LoadPage"
           st-table="kt.rolelist">
        <thead>
        <tr class="sortable">
            <th>
                <label class="table-checkbox checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox" ng-model="kt.checkboxes.checked">
                    <span></span>
                </label>
            </th>
            <th>序号</th>
            <th st-sort="roleName">名称</th>
            <th st-sort="remark">备注</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="role in kt.rolelist">
            <td class="check-td">
                <div class="mail-checkbox">
                    <label class="checkbox-inline custom-checkbox nowrap">
                        <input type="checkbox" ng-model="kt.checkboxes.items[role.id]">
                        <span></span>
                    </label>
                </div>
            </td>
            <td>{{$index+1}}</td>
            <td>
                {{role.roleName}}
            </td>
            <td>
                {{role.remark}}
            </td>
            <td>
                <div class="buttons">
                    <button has-perms='sys.role.view' class="btn btn-info editable-table-button btn-xs btn-with-icon"
                            ui-sref="sys.role.view({id:role.id,isView:true})"><i class="ion-search"></i>查看
                    </button>
                    <button has-perms='sys.role.edit' class="btn btn-warning editable-table-button btn-xs btn-with-icon"
                            ui-sref="sys.role.edit({id:role.id})"><i class="ion-edit"></i>编辑
                    </button>
                    <button has-perms='sys.role.delete' class="btn btn-danger editable-table-button btn-xs btn-with-icon"
                            ng-click="kt.del(role.id)"><i class="ion-trash-a"></i>删除
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="5"
                     st-template="app/pages/common/pagination.html"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>

