<ul class="al-msg-center clearfix">
  <li uib-dropdown>
    <a href uib-dropdown-toggle>
      <i class="fa fa-bell-o"></i><span>{{todoList.length}}</span>

      <div class="notification-ring"></div>
    </a>

    <div uib-dropdown-menu class="top-dropdown-menu">
      <i class="dropdown-arr"></i>

      <div class="header clearfix">
        <strong>代办</strong>
        <a ng-click="refeshTodo()">刷新</a>
        <!--<a href>Settings</a>-->
      </div>
      <div class="msg-list">
        <a href class="clearfix" ng-repeat="msg in todoList">
          <div class="msg-area">
            <div ng-bind-html="msg.text"></div>
            <span>{{ msg.createTime }}</span>
          </div>
        </a>
      </div>
    </div>
  </li>
  <li uib-dropdown>
    <a href class="msg" uib-dropdown-toggle>
      <i class="fa fa-envelope-o"></i><span>{{calendarList.length}}</span>
      <div class="notification-ring"></div>
    </a>
    <div uib-dropdown-menu class="top-dropdown-menu">
      <i class="dropdown-arr"></i>
      <div class="header clearfix">
        <strong>日历</strong>
        <a ng-click="refeshCalendar()">刷新</a>
        <!--<a href>Settings</a>-->
      </div>
      <div class="msg-list">
        <a href class="clearfix" ng-repeat="msg in calendarList">
          <!--<div class="img-area"><img class="photo-msg-item" ng-src="{{::( users[msg.userId].name | profilePicture )}}"></div>-->
          <div class="msg-area">
            <div>{{ msg.title }}</div>
            <span>{{ msg.start | date:'yyyy-MM-dd'}} 至 {{ msg.end | date:'yyyy-MM-dd'}}</span>
          </div>
        </a>
      </div>
      <!--<a href>See all messages</a>-->
    </div>
  </li>
</ul>